.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 20px;
}

.dialog {
    margin-bottom: 10px;
}

.textarea {
    margin-top: 190px;
    width: 500px;
    height: 20px;
    border-radius: 4px;
}

.sendButton {
    margin-top: 5px;
    margin-left: 403px;
}
.messages p {
    margin-left: 0;
}