
.profilePage {
  position: relative;
  display: flex;
}
.subtitle {
  font-weight: bold;
  margin-top: 10px;
}
.profilePhoto {
 margin: 0;
}
.profilePhoto img {
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

input[type="file"] {
  display: none;
}

.fileUpload {
  display: block;
  margin-left: 20px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  text-align: center;
}
.fileUpload:hover {
  background-color: #ccc;
}

.profileInfo {
  margin-top: 20px;
  margin-left: 70px;
  width: 450px;
  color: rgb(75, 95, 124);
}
.name {
  font-size: x-large;
  font-weight: bold;
  color: rgb(75, 95, 124);
}
.textarea {
  width: 300px;
  height: 20px;
}
.status {
  color: black;
  margin-top: 5px;
}

/* Profile Description */

.descriptionBlock {
  margin-top: 35px;
  position: relative;
}
.descriptionBlock p {
  margin-left: 0;
  padding-left: 0;
}
.descriptionBlock b {
  font-weight: 500;
  color: rgb(160, 158, 158);
}
.descriptionBlock span {
  margin-right: 0;
}

li {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.editButton {
  position: absolute;
  margin-top: 25px;
  margin-left: -32px;
  background-color: rgb(160, 158, 158);
  cursor: pointer;
}

/* Edit Mode */

.editProfileForm {
  display: flex;
  position: relative;
}
.editProfile div {
  margin-top: 5px;
}
.editContacts ul {
  padding-left: 0;
}
.cancelButton {
  position: absolute;
  margin-left: 420px;
  margin-top: 5px;
  
}
.saveButton {
  position: absolute;
  margin-left: 340px;
  cursor: pointer;
  margin-top: 5px;
}
.cancelButton button {
  background-color: rgb(160, 158, 158);
  cursor: pointer;
}

/* Collapsible */

details {
  position: absolute;
  width: 100%;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 2px;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  list-style: none;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  padding-top: 10px;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 2px;
}
