.paginator {
    display: flex;
    position: relative;
    margin: 10px;
}

.pages {
  display: flex;
  padding-left: 43px;  
}
.paginButtons {
    text-align: center;
    font-size: 15px;
    display: inline-block;
    /* background-color:white; */
    /* border: none; */
    fill: rgb(75, 95, 124);
    height: 25px;
    border-radius: 3px;
    margin-left: 2px; 
    cursor: pointer;
}

.prevBtn {
    position: absolute;
    left: 4px;
}
.nextBtn {
    /* position: absolute; */
    margin-left: 10px;
}
.pageNumber {
    padding: 1px;
    margin-left: 60px;
    width: 5px;
    background-color: white;
    color: rgb(75, 95, 124);
    min-width: 25px;
    margin: 0 2px 0 2px;
    display: block;
    cursor: pointer;
}
.pageNumber:hover {
    color: rgb(46, 150, 235);
}
.selectedPage {
    font-weight: 700px;
    color: rgb(46, 150, 235);
    background-color: white;
    border: 1px solid rgb(46, 150, 235);
}
.paginButtons:hover {
    fill: rgb(46, 150, 235);
}