
.error textarea,
.error input {
    border: solid red 2px;
}

.error span {
    color: red;
}

.loginFormError {
    color: red;
    font-size: large;
    padding: 5px;
    margin-top: 5px;
    border: red 2px solid;
  }