.header {
  grid-area: h;
  background-color: rgb(75, 95, 124);
  max-width: 1700px;
}
.header img {
  width: 50px;
  margin: 8px;
  margin-left: 20px;
}
.loginBlock {
  float: right;
  margin-top: 17px;
  margin-right: 16px;
  color: white;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; color: rgb(75, 95, 124) }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.username {
  font-weight: bold;  
  font-size: large;
}

.loginBlock button {
  background-color: white;
  color: rgb(75, 95, 124);
  text-decoration: none;
}


