.header {
  grid-area: h;
  background-color: rgb(29, 205, 29);
}
.header img {
  width: 50px;
  margin-left: 10px;
}
.loginBlock {
  float: right;
  margin: 5px;;
}
.loginBlock a {
  color: darkred;
}