.nav {
  background-color: rgb(231, 239, 248);
  padding: 20px;
  min-height: 700px;
}
/* .itemBlock {
  width: 150px;
} */
.item {
  margin: 0;
  padding: 0;
  font-size: 17px;
  /* padding: 10px; */
}
.item a {
  display: block;
  padding: 5px;
  color: rgb(75, 95, 124);
  margin: 0;
  text-decoration: none;
}
.item a.activeLink {
  display: block;
  padding: px;
  color: rgb(231, 239, 248);
  background-color: rgb(75, 95, 124);
  border-radius: 3px;
}
.friends {
  font-size: x-large;
  font-weight: 300;
}
