.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.ul {
  list-style-type: none;
  color: white;
  /* padding: 1;
  margin: 0; */
}
.app-wrapper-content {
  grid-area: c;
  /* padding: 1; */
  background-color: rgb(150, 230, 150);
}