button {
  padding: 5px;
  /* background-color: rgb(46, 150, 235); */
  background-color: rgb(75, 95, 124);
  color: white;
  border-radius: 3px;
  border: none;
  font-weight: 550;
  min-width: 65px;
  min-height: 25px;
  cursor: pointer;
}

textarea {
  border: 1px solid rgb(75, 95, 124);
	border-radius: 8px;
	height: 60px;
	width: 230px;
}

input {
  border: 1px solid rgb(75, 95, 124);
	border-radius: 3px;
}

.app-wrapper {
  max-width: 1400px;
  display: grid;
  margin: 0 auto;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.ul {
  list-style-type: none;
  color: white;
  /* padding: 1;
  margin: 0; */
}
.app-wrapper-content {
  max-width: 1100px;
  grid-area: c;
  background-color: white;
}
